In [1]:
import os
import requests
import xml.etree.ElementTree as ET
import pandas as pd
import sqlite3
import geopandas as gpd

In [5]:
conn = sqlite3.connect('forschungsprojekt.db')
r_df = pd.read_sql("select * from daten",conn)
print(r_df)

         index         lat         lon                  time  trk_id  pt_id  \
0            0  51.0999913  13.6979035  2023-06-04T13:32:03Z       1      1
1            1  51.0998256  13.6980003  2023-06-04T13:32:06Z       1      2
2            2  51.0995470  13.6981006  2023-06-04T13:32:12Z       1      3
3            3  51.0992351  13.6981376  2023-06-04T13:32:19Z       1      4
4            4  51.0991044  13.6981409  2023-06-04T13:32:22Z       1      5
...        ...         ...         ...                   ...     ...    ...
204650  204650  51.0388694  13.6692057  2014-10-18T22:39:35Z     407   4996
204651  204651  51.0388694  13.6692057  2014-10-18T22:39:37Z     407   4997
204652  204652  51.0388694  13.6692057  2014-10-18T22:39:38Z     407   4998
204653  204653  51.0388694  13.6692057  2014-10-18T22:39:40Z     407   4999
204654  204654  51.0388694  13.6692058  2014-10-18T22:39:41Z     407   5000

          name
0       NoName
1       NoName
2       NoName
3       NoName
4       NoName
...        ...
204650  NoName
204651  NoName
204652  NoName
204653  NoName
204654  NoName

[204655 rows x 7 columns]